@{
}
<h1>lalzo</h1>
<form id="form1" runat="server">
    <div>
        <img id="imgpreview" height="200" width="200" src="" style="border-width: 0px; visibility: hidden;" />
        <input type="file" onchange="showpreview(this)">
    </div>
</form>

@section scripts
{
    <script type="text/javascript">
            function showpreview(input) {
    
                if (input.files && input.files[0]) {
    
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imgpreview').css('visibility', 'visible');
                        $('#imgpreview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
    
            }
    
        </script>
}
