@{

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/index");
    }
}

@using System.Web.Configuration
@using EightElements.Showtime.CMS.Data
@{
    ViewBag.Title = "Showcase Detail";
    //List<ContentItem> list = ViewData["listContent"] as List<ContentItem>;
    string cdn = WebConfigurationManager.AppSettings["CDN_Uri"];
    string cdnContent = WebConfigurationManager.AppSettings["CDN_Content"];
    string cdnVideo = WebConfigurationManager.AppSettings["CDN_Video"];
}


<h2>@ViewBag.Title.</h2>
<small><i>
    Created By <span id="txtUsername"></span> || Date : <span id="txtCreateDate"></span> <br>
    Last Updated By Name: <span id="txtLastUpdatedByName"></span> ||
    Last Updated Date: <span id="txtLastUpdatedDate"></span>
</i></small>

    <h3></h3>

    @*hidden page get element*@
    <div class="form-group">
        <input type="text" id="txtIdContent" value="" hidden />
        <input type="text" id="txtUserId" value="" hidden />
        <input type="text" id="txtUsername" value="" hidden />
        <input type="text" id="txtTitle" value="" hidden />
    </div>

    <div class="row mb-3" id="contentBody">
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-5 mb-4" data-toggle="modal" data-target="#themes">
            <div class="themes"></div>
        </div>
        <div class="col-xl-3 col-md-5 mb-4" data-toggle="modal" data-target="#classification">
            <div class="classification"></div>
        </div>
        <div class="col-xl-3 col-md-5 mb-4" data-toggle="modal" data-target="#ageRating">
            <div class="ageRating"></div>
        </div>
    </div>
    <!--Row-->
    <div class="form-group">
        <input type="text" class="form-control col-xl-3 col-md-5 mb-3" id="txtTags">
            <div id="isCPGroup"></div>            
            
    </div>
    <button class="btn btn-danger  mb-5">Cancel</button>
    <button class="btn btn-primary  mb-5" onclick="savePage()">Save</button>



    <!-- Modal Themes -->
    <div class="modal fade" id="themes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Themes Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f8f9fc ">
                    <div class="row ml-3 mb-3">

                        <div class="card" style="width: 18rem;">
                            @*  <img src="..." class="card-img-top" alt="...">*@
                            <div class="card-body">
                                <h5 class="card-title">Themes</h5>
                                <div id="themesGroup"></div>

                                @* <a href="#" class="btn btn-primary">Go somewhere</a>*@
                            </div>
                        </div>

                    </div>
                    <div class="form-group ml-3">
                        <input type="text" id="txtThemes" class="form-control" style="width:20%" />
                        <button class="btn btn-primary mt-2" type="button" onclick="addThemes()">Add Themes</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="saveThemes"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Clasification -->
    <div class="modal fade" id="classification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Classification Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f8f9fc ">
                    <div class="row ml-3 mb-3">

                        <div class="card" style="width: 18rem;">
                            @*  <img src="..." class="card-img-top" alt="...">*@
                            <div class="card-body">
                                <h5 class="card-title">Clasification</h5>
                                <div id="clasificationGroup"></div>

                                @* <a href="#" class="btn btn-primary">Go somewhere</a>*@
                            </div>
                        </div>


                    </div>
                    <div class="form-group ml-3">
                        <input type="text" id="txtClasification" class="form-control" style="width:20%" />
                        <button class="btn btn-primary mt-2" type="button" onclick="addClasification()">Add Clasification</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="saveClasification"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Age Rating -->
    <div class="modal fade" id="ageRating" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Age Rating Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f8f9fc ">
                    <div class="row ml-3 mb-3">

                        <div class="card" style="width: 18rem;">
                            @*  <img src="..." class="card-img-top" alt="...">*@
                            <div class="card-body">
                                <h5 class="card-title">Age Rating</h5>
                                <div id="ageRatingGroup"></div>

                                @* <a href="#" class="btn btn-primary">Go somewhere</a>*@
                            </div>
                        </div>

                    </div>
                    <div class="form-group ml-3">
                        <input type="text" id="txtAgeRating" class="form-control" style="width:20%" />
                        <button class="btn btn-primary mt-2" type="button" onclick="addAgeRating()">Add Age Rating</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="saveAgeRating"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal image -->
    <div id="myModal" class="modalImage">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img id="lrg_img" src="" style="width:100%">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container">
                <p id="caption"></p>
            </div>
        </div>
    </div>
    @section scripts
{
        <script>
        $(document).ready(function () {
            //get contentId=1170
            GetContentDetail()
            ContentCategory()
            ContentClassification()
            ContentAgeRating()
            saveThemes()
            saveClasification()
            saveAgeRating()
        });
        //$.urlParam('param1');


        function GetContentDetail() {
            var contentId = $.urlParam('contentId');
            var content = "";
            var tglLastUpdatedDate = "";
            var LastUpdatedByName = "";
            var CreateDate = "";
            var username = "";
            var isCP = "";
            var GetcontentId = `<input type="text" value="${contentId}" id="txtGetContentDetail">`;
           // $.urlParam('contentId');
            // show image and video, button approve reject => task For monday TASSSKKKKKK
            $.ajax({
                url: '/Content/GetContentDetail?contentId=' + contentId,
                success: function (response) {
                    if (response.Success) {
                        var data = response.Data;
                        isCP += `<input id ="txtIsCP" type="checkbox" value="true"  ${data.IsCP == true ? "checked" : ""}> <label for="txtIsCP">IsCP</label>`;
                        $("#isCPGroup").html(isCP);

                        $("#txtTags").val(data.Tags);
                        var lud = new Date(data.LastUpdatedDate);
                        tglLastUpdatedDate += lud.getDate() + `-` + lud.getMonth() + `-` + lud.getFullYear() + ` ` + lud.getHours().toString().padStart(2,0) + `:` + lud.getMinutes().toString().padStart(2,0);
                        $("#txtLastUpdatedDate").html(tglLastUpdatedDate);
                        var cr = new Date(data.CreateDate);
                        CreateDate += cr.getDate() + `-` + cr.getMonth() + `-` + cr.getFullYear() + ` ` + cr.getHours().toString().padStart(2,0) + `:` + cr.getMinutes().toString().padStart(2,0);
                        $("#txtCreateDate").html(CreateDate);
                        LastUpdatedByName += data.LastUpdatedByName;
                        $("#txtLastUpdatedByName").html(LastUpdatedByName);
                        username += data.Username;
                        $("#txtUsername").html(username);
                        $("#txtUserId").val(data.UserId);
                        $("#txtTitle").val(data.Title);
                        $("#txtUsername").val(data.Username);
                        $("#txtIdContent").val(data.Id);
                        $("#txtFunctionAgeRating").val(data.AgeRatingName);
                        $("#txtFunctionAgeRatingId").val(data.AgeRatingId);
                        $("#txtFunctionClasification").val(data.ClassificationName);
                        $("#txtFunctionClasificationId").val(data.ClassificationId);
                        $("#txtFunctionThemes").val(data.CategoryName);
                        $("#txtFunctionThemesId").val(data.CategoryId);
                        var items = data.ContentItems;
                        @*var contentitem = data.contentitem;
                        contentitem[0].filename; => not looping *@
                        var contentDiv = "";
                        for (var i = 0; i < items.length; i++) {
                            var item = items[i];
                            $("#contentBody").empty();

                            //item.filename
                            //add vidio <source src="" type="video/mp4">
                            var html = `<div class="col-md-4 mb-4" style="flex: 50%;">
                                        @*<a href="#" style="text-decoration: none" onclick="getLocation()" data-toggle="modal" data-target="#Masuk">*@
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <div class="row align-items-center">

                                                        <div class="col mr-2">
                                                           @* <div class="text-xs font-weight-bold text-uppercase mb-1">Absensi</div>*@
                                                           @* <div class="h5 mb-0 font-weight-bold text-gray-800">Masuk</div>*@
                                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                               @* <span class="text-primary mr-2"><i class="fa fa-arrow-up"></i> Silahkan Klik Diatas &nbsp </span>*@

                                                                @*<span class="text-success mr-2"><i class="fa fa-arrow-down"></i>
                                                                     Show Video In Path =>
                                                                     `+ item.ContentPath + `Type = `+item.ContentTypeId+`
                                                                </span>*@`;
                            if (item.ContentTypeId == 5) {
                                var html1 = `
                                                <video width="100%"controls>
                                                      <source type="video/mp4" src="@cdnVideo/`+ item.ContentPath + `" style="width:100%" height="100%" value="${item.ContentPath}">
                                                      Your browser does not support HTML video.
                                             </video>`
                            }

                            else {
                                if (item.ContentTypeId == 1 || item.ContentTypeId == 2) {
                                    var url = `@cdn/${item.ContentPath}`;
                                    var html1 = `<div class="column">
                                                                <img src="${url}" style="width:100%" onclick="openModal('${url}')" class="hover-shadow cursor">
                                                 </div>
                                                `
                                }
                                else if (item.ContentTypeId == 3) {
                                    var url = `@cdnContent/${item.ContentPath}`;
                                    var html1 = `
                                                 <div class="column">
                                                        <img src="${url}" style="width:100%" onclick="openModal('${url}')" class="hover-shadow cursor">
                                                 </div>
                                               `
                                }


                            }
                            var statusValueReject = "";
                            var statusValueApprove = "";
                            var getStatusApp = 1;
                            var getStatusRjc = 2;
                            if (item.Status == null || item.Status == 1 || item.Status == 2 ) {
                                statusValueApprove = 1;
                                statusValueReject = 2;                              
                            }                            

                                var html2 = ` </div></div><br><br>
                                                                <div class="col-auto">
                                                                <input id="item_${item.Id}" type="hidden" value="${item.Status}" data-idItem="${item.Id}" >
                                                                <button id="btn-app-${item.Id}" type="submit" class="btn btn-primary mt-2 btn-sm" value="${getStatusApp}" onclick="itemApprove(${item.Id},${statusValueApprove})" ${item.Status == 1 ? "disabled" : ""}>Approve</button><br>
                                                                <button id="btn-rjc-${item.Id}" type="submit" class="btn btn-danger mt-2 btn-sm" value="${getStatusRjc}" onclick="itemApprove(${item.Id},${statusValueReject})" ${item.Status == 2 ? "disabled" : ""} >Reject</button>
                                                                </div>
                                                                @*<div class="col-auto">
                                                                    <i class="fas fa-calendar fa-2x text-primary"></i>
                                                                </div>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                    </div>`;
                           
                          
                                contentDiv += html;
                                contentDiv += html1;
                                contentDiv += html2;


                        }

                        $("#contentBody").html(contentDiv);

                    }
                },
                error: function () {
                    alert("There Some Problem With Your Code Program");
                }
            });
        }

        //From this site https:// stackoverflow.com/questions/39006574/check-if-url-param-exist-using-jquery
        //for define faram var contentId = $.urlParam('contentId');

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);//Array Form
            return results!=null && results.length>1 ? results[1] : 0;//Get Index 2 using > 1
        }

        function itemApprove(itemId, status) {
            $(`#item_${itemId}`).val(status);
            $(`#btn-app-${itemId}`).prop('disabled', status == 1);
            $(`#btn-rjc-${itemId}`).prop('disabled', status == 2);

        }

        function openModal(url) {
            $("#lrg_img").attr("src", url);
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            @*dots[slideIndex - 1].className += " active";*@
            @*captionText.innerHTML = dots[slideIndex - 1].alt;*@
        }

        function ContentCategory(CloseButtonAddThemes)
        {
            $.ajax({
                url: '/Content/ContentCategory',
                success: function (response)
                {
                    if (response.Success) {
                        var getData = response.data;
                        var content = "";
                        var content1 = "";
                        for (var i = 0; i < getData.length;i++)
                        {
                            var data = getData[i];
                            $("#themesGroup").empty();
                            var html = ` <input type="radio" name="themes" id="themes_${data.Id}" value="${data.Id}" data-nameThemes="${data.Name}" ><label for="themes_${data.Id}"> ${data.Name}</label><br>`;

                            content += html;
                        }
                        $("#themesGroup").append(content);

                        if (CloseButtonAddThemes == null)
                        {
                            var html1 = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveThemes()" data-dismiss="modal">Save changes</button>`;
                            content1 += html1;
                            $("#saveThemes").append(content1);

                        }
                        CloseButtonAddThemes = null

                    }
                }
            });
        }

        function addThemes()
        {
            var addData = {
                Name: $('#txtThemes').val(),
                Platforms: []
            }
            $.ajax({
                async: true,
                type: 'POST',
                url: "/Content/AddContentCategory",
                dataType: 'JSON',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(addData),
                success: function (response) {
                    if (response.Success) {
                        ContentCategory(1)
                        $('#txtThemes').val('');
                    } else {
                        alert("Failed")
                    }
                },
                error: function () {
                    alert("There Is Some Problem With Your program code");
                }

            });
        }

        function saveThemes()
        {
            //get value id radio button checked
            var checkedThemes = $('input[name="themes"]:checked');
            var id = checkedThemes.val();
            //get name id radio button
            var name = checkedThemes.attr("data-nameThemes");
            var content = "";
            @*if (name == null) name = "";*@
            content += `<input type="text" id="txtFunctionThemes" data-idSaveThemes="${id}" class="form-control" placeholder="Themes" value="${name}" />`;
            content += `<input type="text" id="txtFunctionThemesId" value="${id}" class="form-control" hidden/>`;
            $(".themes").html(content);

        }

        function ContentClassification(CloseButtonClasification)
        {
            $.ajax({
                url: '/Content/ContentClassification',
                success: function (response) {
                    if (response.Success) {
                        var getData = response.data;
                        var content = "";
                        var content1 = "";
                        for (var i = 0; i < getData.length; i++) {
                            var data = getData[i];
                            var html = `<input type="radio" name="clasification" id="Clasification_${data.Id}" value="${data.Id}" data-nameClasification="${data.Name}" ><label for="Clasification_${data.Id}"> ${data.Name}</label><br>`;
                            content += html;
                        }
                        $("#clasificationGroup").html(content);
                        if (CloseButtonClasification == null) {
                            var html1 = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveClasification()" data-dismiss="modal">Save changes</button>`;
                            content1 += html1;
                            $("#saveClasification").html(content1);

                        }
                        CloseButtonClasification = null
                    }
                }
            });
        }
        function addClasification()
        {
            var addData = {
                Name : $("#txtClasification").val()
            }
            $.ajax({
                async: true,
                type: 'POST',
                url: '/Content/AddContentClassification',
                data: JSON.stringify(addData),
                dataType: 'JSON',
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    if (response.Success) {
                        ContentClassification(1);
                        $("#txtClasification").val("")
                    }
                },
                error: function () {alert("You Have Some Problem With Your Program Code")}
            });
        }

        function saveClasification()
        {
            //Get Value Id
            var checkedClasification = $('input[name="clasification"]:checked');
            var id = checkedClasification.val();
            //Get Name Id Radio Button
            var name = checkedClasification.attr("data-nameClasification");
            var content = "";
            @*if (name == null) name = "";*@
            content += `<input type="text" class="form-control" data-ClasificationId="${id}" id="txtFunctionClasification" placeholder="Classification" value="${name}" />`;
            content += `<input type="text" id="txtFunctionClasificationId"  value="${id}" hidden />`;
            $(".classification").html(content);
        }

        function ContentAgeRating(CloseButtonAgeRating)
        {
            $.ajax({
                url: '/Content/ContentAgeRating',
                success: function (respon) {
                    if (respon.Success) {
                        var getData = respon.data;
                        var content = "";
                        var content1 = "";
                        for (var i = 0; i < getData.length; i++) {
                            var data = getData[i];
                            var html = `<input type="radio" name="ageRating" id="ageRating_${data.Id}" value="${data.Id}" data-nameAgeRating="${data.Name}" ><label for="ageRating_${data.Id}"> ${data.Name}</label><br>`;
                            content += html;
                        }
                        $("#ageRatingGroup").html(content);
                        if (CloseButtonAgeRating == null) {
                            var html1 = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveAgeRating()" data-dismiss="modal">Save changes</button>`;
                            content1 += html1;
                            $("#saveAgeRating").html(content1);

                        }
                        CloseButtonAgeRating = null
                    }
                },
                error: function () {alert("there is some problem with your program code") }
            });
        }

        function addAgeRating() {
            var addData = {
                Name : $("#txtAgeRating").val()
            };
            $.ajax({
                async : true,
                type: 'POST',
                url : '/Content/AddContentAgeRating',
                data: JSON.stringify(addData),
                dataType: 'JSON',
                contentType: 'application/json;charset=utf-8',
                success: function (respon) {
                    if (respon.Success) {
                        ContentAgeRating(1);
                        $("#txtAgeRating").val('')
                    }
                },
                error: function () { alert("there is some problem with your program code")}
            });
        }

        function saveAgeRating()
        {
            var checkedAgeRating = $('input[name="ageRating"]:checked');
            var id = checkedAgeRating.val();
            var name = checkedAgeRating.attr("data-nameAgeRating");
            var content = "";
            @*if (name == null) name = nRating;*@

            content += `<input type="text" class="form-control" data-ageRating="${id}" id="txtFunctionAgeRating" value="${name}" placeholder="Age Rating"/>`;
            content += `<input type="text" class="form-control"  id="txtFunctionAgeRatingId" value="${id}" hidden/>`;
            $(".ageRating").html(content);
        }

        function savePage() {
            var idContent = $("#txtIdContent").val();
            var getThemesId = $("#txtFunctionThemesId").val();//("#txtFunctionThemes").attr("data-idSaveThemes");
            var getClasificationId = $("#txtFunctionClasificationId").val();
            var getAgeRating = $("#txtFunctionAgeRatingId").val();
            var itemsEl = $("[id^='item_']");
            var items = [];
            var tags = $("#txtTags").val();
            var tagsArray = tags.split(',');
            
            for (var i = 0; i < itemsEl.length;i++)
            {
                var item = itemsEl[i];
                var id = $(item).attr("data-idItem");
                var status = $(item).val();

                if (status == "") {
                    alert('Harap selesaikan proses approve/reject content sebelum save data');
                    return false;
                }

                items.push({
                    id: id,
                    status: status
                })
            }
            var isCpValue = "";
            var checkedIsCP = $('input[id="txtIsCP"]:checked');
            var idCheckedIsCP = checkedIsCP.val();
            if (idCheckedIsCP == "true") {
                isCpValue = "true"
            } else {
                isCpValue = "false"
            }
            var result = {
                Id: idContent,
                UserId: $("#txtUserId").val(),
                Username: $("#txtUsername").val(),
                Title: $("#txtTitle").val(),
                CategoryId: getThemesId,
                ClassificationId: getClasificationId,
                AgeRatingId: getAgeRating,
                IsCP: isCpValue,
                Tags: tagsArray,
                ContentItems: items
                //LastCreatedDate: null,
                //LastCreatedBy: null
            }
            console.log(result);
            
            @*$.ajax({
                async: true,
                type: 'POST',
                url: '/Content/UpdateContentDetail',
                data: JSON.stringify(result),
                dataType: 'JSON',
                contentType: 'application/json;charset=utf-8',
                success: function (respon) {
                    if (respon.Success) {
                        alert("Success update data ..");
                        GetContentDetail();
                    }
                },
                error: function (response) { alert("there is some problem with your program code")}
            });*@
            
        }

        </script>
    }
