@{

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/index");
    }
}

<div class=" page-fBot2">

    <div class="form-group col-3 ml-6">
    <select id="selStatus" onchange="getAllEventParticipant()" class="form-control">
        <option value="">-- Select Status --</option>
        <option value="1">Approved</option>
        <option value="2">Rejected</option>
        <option value="0">Waiting Approval</option>
    </select>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>

        <div class="card-body">


            <div class="list-email-form">
                <input type="text" id="search">
                <button onclick="search()">Search</button>
                <button onclick="getAllEventParticipant();">View all</button>



            </div>

            <div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td scope="col">Title</td>
                            <td scope="col">Realname</td>
                            <td scope="col">Status</td>
                            <td scope="col">Category</td>
                            <td scope="col" align="center">Action</td>
                        </tr>
                    </thead>
                    <tbody id="listEventParticipant">
                    </tbody>
                </table>
            </div>
            <nav aria-label="...">
                <ul class="pagination" id="paging">
                </ul>
            </nav>

        </div>
    </div>
    @*<p>
          <a href="Javascript:void(0)" id="send" class="back-btn" style="display:inline-block;">Send Email</a>
        </p>*@
</div>

@section scripts
{
    <script>
        //start pagination => 10/21/2021
        var no = 1;
        var contentStatus;

        $("#pagination").on('change', function () {
            no = this.value;
        })
        //End Pagination

        var eventId = 1;
        var page = 0;
        var pageSize = 10;
        $(document).ready(function () {
            getAllEventParticipant();
        })

        $("#listEvent").on('change', function () {
            eventId = this.value;
            getAllEventParticipant();
        })

        function getAllEventParticipant() {
            contentStatus = $("#selStatus").val();
            $.get('/rest/GetAllShowcase?startIndex=' + page + '&pageSize=' + pageSize + '&contentStatus=' + contentStatus, function (data, status) {
                var json = JSON.parse(data);
                drawAllEventParticipant(json.Showcases);
                drawPaging(json.PageCount);
            });
        }
        function movePage(i) {
            page = i;
            getAllEventParticipant();
        }
        function drawPaging(count) {
            var countpage = 2;
            var nextpad = 3;
            var totalpage = count > pageSize ? count / pageSize : 1;
            var limitpage = nextpad + page >= totalpage ? totalpage : page + nextpad;
            var firstpage = page - countpage >= 0 ? page - countpage : 0;
            @* console.log(totalpage, 'test total') *@

            $("#paging").empty();
            if (page <= 0) {
                $("#paging").append(`<li class="page-item disabled ">
                       <a class="page-link" href="#" tabindex="-1" onclick="movePage(${page - 1})">Previous</a></li>`)
            } else {
                $("#paging").append(`<li class="page-item ">
                       <a class="page-link" href="#" tabindex="-1" onclick="movePage(${page - 1})">Previous</a> </li>`)
            }

            for (var i = firstpage; i < limitpage; i++) {
                if (i == page) {
                    $("#paging").append(`<li class="page-item active" aria-current="page">
                       <a class="page-link" onclick="movePage(${i})" href="#">${i + 1}</a></li> `)
                } else {
                    $("#paging").append(`<li class="page-item" aria-current="page">
                       <a class="page-link" onclick="movePage(${i})" href="#">${i + 1}</a> </li>`)
                }

            }
         if (page >= totalpage - 1) {
                $("#paging").append(` <li class="page-item disabled"><a class="page-link"href="#" tabindex="-1" ">next</a></li>`)
            } else {
                $("#paging").append(`<li class="page-item"><a class="page-link"href="#" tabindex="-1" onclick="movePage(${page + 1})">next</a></li>`)
            }
          }
        //End Pagination

        function drawAllEventParticipant(response) {
            $("#listEventParticipant").empty();
            var content = '';
            response.map(value => {
                var status = '';
                if (value.Content.Status == 1) {
                    status = 'Approved';
                } else if (value.Content.Status == 2) {
                    status = 'Rejected';
                } else {
                    status = 'Waiting Approval';
                }
                content += `<tr><td>${value.Content.Title}</td>`;
                content += `<td>${value.User.RealName}</td>`;
                content += `<td>${status}</td>`;
                if (value.Content.Status == null || value.Content.ContentClassificationId == null || value.Content.ContentAgeRatingId == null) {
                    var category = 'Not Categories';
                } else {
                    var category = 'categories';
                }

                content += `<td>` + category + `</td>`;
                if (value.Content.Status == 1) {
                    //status = 'Approved';
                    content += `<td align="center">
                    <a href="/home/showcasedetail?contentId=${value.Content.Id}"><i class="fas fa-edit fa-lg"></i></a>                    
                    <button class="btn-reject" onclick="UpdateStatus(${value.Content.Id},2)">Reject</button>
                    </td></tr>`;
                } else if (value.Content.Status == 2) {
                    //status = 'Rejected';
                    content += `<td align="center">
                    <a href="/home/showcasedetail?contentId=${value.Content.Id}"><i class="fas fa-edit fa-lg"></i></a>
                    <button class="btn-approve" onclick="UpdateStatus(${value.Content.Id},1)">Approve</button>                    
                    </td></tr>`;
                } else {
                    //status = 'Waiting Approval';
                    content += `<td align="center">
                    <a href="/home/showcasedetail?contentId=${value.Content.Id}"><i class="fas fa-edit fa-lg"></i></a>
                    <button class="btn-approve" onclick="UpdateStatus(${value.Content.Id},1)">Approve</button>
                    <button class="btn-reject" onclick="UpdateStatus(${value.Content.Id},2)">Reject</button>
                    </td></tr>`;
                }

                
            })
            $("#listEventParticipant").append(content);
        }

        function search() {
            var value = $("#search").val();
            GetAllEventParticipantBySearchName(eventId, value)
                .then(data => {
                    drawAllEventParticipant(data);
                })
        }

        function drawEvent(response) {
            var content = '';
            response.map(value => {
                content += `<option value="${value.Id}">${value.Name}</option>`;
            })
            $("#listEvent").append(content);
        }

        function UpdateStatus(contentDetailId, status) {
            ApproveOrRejectContent(contentDetailId, status)
                .then(data => {
                    if (data == 'ok') {
                        var message = '';
                        if (status == 1) {
                            message = 'Approved';
                        } else if (status == 2) {
                            message = 'Rejected'
                        }
                        alert(message);
                        search();
                    } else {
                        alert(data);
                    }
                    console.log(data);
                })
        }

        function statusList(getStatus) {
            contentStatus = getStatus;
            getAllEventParticipant();
        }

    </script>
}