
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<button type="button" onclick="getAllUsers()">test</button>

    <script type="text/javascript">
        $(document).ready(function () {
            getAllUsers();
        });
        function getAllUsers() {
            $.get('/GetAllUserPagination?startIndex' + page + '&pageSize=' + pageSize, function (data, status){
                var json = JSON.parse(data);
                    drawgetAllUsers(json.users);
                    drawPaging(json.pageCount);
            });
        }
    </script>
