
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<button type="button" onclick="getAllUsers()">test</button>

    <script type="text/javascript">
        function getAllUsers() {
            alert("Your are good..!!");
        }
    </script>
